opensand-deploy/src/frontend/src/xsd/profile_st.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="model">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <version>1.0.0</version>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="root">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              <type>component</type>
              <name>Root</name>
              <description>profile</description>
              <advanced>false</advanced>
              <reference/>
              <expected/>
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="encapsulation">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <type>component</type>
                    <name>Encapsulation</name>
                    <description/>
                    <advanced>false</advanced>
                    <reference/>
                    <expected/>
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="lan_adaptation_schemes">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <type>list</type>
                          <name>LAN Adaptation scheme</name>
                          <description/>
                          <advanced>false</advanced>
                          <reference/>
                          <expected/>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>component</type>
                                <name>lan_adaptation_scheme</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference/>
                                <expected/>
                              </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="protocol" type="lan_adaptation_protocol">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>lan_adaptation_protocol</type>
                                      <name>Protocol</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <reference/>
                                      <expected/>
                                      <unit/>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="network">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <type>component</type>
                    <name>Network</name>
                    <description>The DVB layer configuration</description>
                    <advanced>false</advanced>
                    <reference/>
                    <expected/>
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="fifos">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <type>list</type>
                          <name>FIFOs</name>
                          <description/>
                          <advanced>false</advanced>
                          <reference/>
                          <expected/>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>component</type>
                                <name>fifo</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference/>
                                <expected/>
                              </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="priority" type="xs:integer">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>int</type>
                                      <name>Priority</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <reference/>
                                      <expected/>
                                      <unit/>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="name" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>string</type>
                                      <name>Name</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <reference/>
                                      <expected/>
                                      <unit/>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="capacity" type="xs:integer">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>int</type>
                                      <name>Capacity</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <reference/>
                                      <expected/>
                                      <unit>packets</unit>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="access_type" type="fifo_access_type">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                      <type>fifo_access_type</type>
                                      <name>Access Type</name>
                                      <description/>
                                      <advanced>false</advanced>
                                      <reference/>
                                      <expected/>
                                      <unit/>
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="access">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <type>component</type>
                    <name>Access</name>
                    <description>MAC layer configuration</description>
                    <advanced>false</advanced>
                    <reference/>
                    <expected/>
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="settings">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <type>component</type>
                          <name>Settings</name>
                          <description/>
                          <advanced>false</advanced>
                          <reference/>
                          <expected/>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="category" type="carrier_group">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>carrier_group</type>
                                <name>Category</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference/>
                                <expected/>
                                <unit/>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="dama">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <type>component</type>
                          <name>DAMA</name>
                          <description/>
                          <advanced>false</advanced>
                          <reference/>
                          <expected/>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dama_enabled" type="xs:boolean">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>bool</type>
                                <name>Enable DAMA</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference/>
                                <expected/>
                                <unit/>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="cra" type="xs:integer">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>CRA</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference>/access/dama/dama_enabled</reference>
                                <expected>true</expected>
                                <unit>kb/s</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="rbdc_enabled" type="xs:boolean">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>bool</type>
                                <name>Enable RBDC</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference>/access/dama/dama_enabled</reference>
                                <expected>true</expected>
                                <unit/>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="rbdc_max" type="xs:integer">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>Max RBDC</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference>/access/dama/rbdc_enabled</reference>
                                <expected>true</expected>
                                <unit>kb/s</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="vbdc_enabled" type="xs:boolean">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>bool</type>
                                <name>Enable VBDC</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference>/access/dama/dama_enabled</reference>
                                <expected>true</expected>
                                <unit/>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="vbdc_max" type="xs:integer">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>Max VBDC</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference>/access/dama/vbdc_enabled</reference>
                                <expected>true</expected>
                                <unit>kb/s</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="algorithm" type="dama_algorithm">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>dama_algorithm</type>
                                <name>DAMA Agent Algorithm</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference>/access/dama/dama_enabled</reference>
                                <expected>true</expected>
                                <unit/>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="duration" type="xs:integer">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>MSL Duration</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference>/access/dama/dama_enabled</reference>
                                <expected>true</expected>
                                <unit>frames</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="random_access">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <type>component</type>
                          <name>Random Access</name>
                          <description/>
                          <advanced>false</advanced>
                          <reference/>
                          <expected/>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ra_enabled" type="xs:boolean">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>bool</type>
                                <name>Enable CRDSA</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference/>
                                <expected/>
                                <unit/>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="timeout" type="xs:integer">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>Timeout</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference>/access/random_access/ra_enabled</reference>
                                <expected>true</expected>
                                <unit>slotted aloha frames</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="replicas" type="xs:integer">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>Replicas</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference>/access/random_access/ra_enabled</reference>
                                <expected>true</expected>
                                <unit>packets</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="max_packets" type="xs:integer">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>Max Packets</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference>/access/random_access/ra_enabled</reference>
                                <expected>true</expected>
                                <unit>packets</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="max_retry" type="xs:integer">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>Max Retransmissions</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference>/access/random_access/ra_enabled</reference>
                                <expected>true</expected>
                                <unit>packets</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="backoff_algo" type="backoff_algo">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>backoff_algo</type>
                                <name>Back Off Algorithm</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference>/access/random_access/ra_enabled</reference>
                                <expected>true</expected>
                                <unit/>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="max_cw" type="xs:integer">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>Max Cw</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference>/access/random_access/ra_enabled</reference>
                                <expected>true</expected>
                                <unit>slotted aloha frames</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="backoff_multiple" type="xs:integer">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>Back Off Multiple</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference>/access/random_access/ra_enabled</reference>
                                <expected>true</expected>
                                <unit/>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="scpc">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <type>component</type>
                          <name>SCPC</name>
                          <description/>
                          <advanced>false</advanced>
                          <reference/>
                          <expected/>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="scpc_enabled" type="xs:boolean">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>bool</type>
                                <name>Enabled SCPC</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference/>
                                <expected/>
                                <unit/>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="carrier_duration" type="xs:integer">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>SCPC Carrier Duration</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference>/access/scpc/scpc_enabled</reference>
                                <expected>true</expected>
                                <unit>ms</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="physical_layer">
                <xs:annotation>
                  <xs:documentation xml:lang="en">
                    <type>component</type>
                    <name>Physical Layer</name>
                    <description>The Physical layer configuration</description>
                    <advanced>false</advanced>
                    <reference/>
                    <expected/>
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="delay">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <type>component</type>
                          <name>Delay</name>
                          <description/>
                          <advanced>false</advanced>
                          <reference/>
                          <expected/>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="minimal_condition">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <type>component</type>
                          <name>Minimal Condition</name>
                          <description/>
                          <advanced>false</advanced>
                          <reference/>
                          <expected/>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="error_insertion">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <type>component</type>
                          <name>Error Insertion</name>
                          <description/>
                          <advanced>false</advanced>
                          <reference/>
                          <expected/>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="uplink_attenuation">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <type>component</type>
                          <name>UpLink Attenuation</name>
                          <description/>
                          <advanced>false</advanced>
                          <reference/>
                          <expected/>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="clear_sky" type="xs:integer">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>Clear Sky Condition</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference/>
                                <expected/>
                                <unit>dB</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="downlink_attenuation">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">
                          <type>component</type>
                          <name>DownLink Attenuation</name>
                          <description/>
                          <advanced>false</advanced>
                          <reference/>
                          <expected/>
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="clear_sky" type="xs:integer">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">
                                <type>int</type>
                                <name>Clear Sky Condition</name>
                                <description/>
                                <advanced>false</advanced>
                                <reference/>
                                <expected/>
                                <unit>dB</unit>
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="backoff_algo">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <name>Randow Access Back Off Algorithm</name>
        <description/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="BEB"/>
      <xs:enumeration value="EIED"/>
      <xs:enumeration value="MIMD"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="carrier_group">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <name>Carrier Group</name>
        <description/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Premium"/>
      <xs:enumeration value="Professional"/>
      <xs:enumeration value="SNO"/>
      <xs:enumeration value="SVNO1"/>
      <xs:enumeration value="SVNO2"/>
      <xs:enumeration value="SVNO3"/>
      <xs:enumeration value="Standard"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dama_algorithm">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <name>DAMA Agent Algorithm</name>
        <description/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Legacy"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="fifo_access_type">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <name>Access Type</name>
        <description/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRDSA"/>
      <xs:enumeration value="DAMA"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lan_adaptation_protocol">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        <name>LAN Adaptation Protocol</name>
        <description/>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="IP"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
