opensand-core/conf/xsd/core_st.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:include schemaLocation="./common.xsd"/> 

<!-- component type -->
<xsd:simpleType name="componentType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="st" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for global section -->
<xsd:simpleType name="LanProto">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="IP" />
        <xsd:enumeration value="Ethernet" />
        <xsd:enumeration value="ROHC" />
        <xsd:enumeration value="PHS" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="PosScheme">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="4" />
    </xsd:restriction>
</xsd:simpleType>

<!-- the lan adaptation schemes tables -->
<xsd:element name="lan_adaptation_schemes">
    <xsd:complexType>
        <xsd:choice>
            <xsd:element ref="lan_scheme" minOccurs="1" maxOccurs="5" />
        </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:element name="lan_scheme">
    <xsd:complexType>
        <xsd:attribute name="pos" type="PosScheme">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The lan adaptation scheme position from upper to lower
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="proto" type="LanProto">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The type of lan adapation
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- types for dvb_rcs_tal section -->
<!-- see class section for some types -->

<xsd:simpleType name="className">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="NM" />
        <xsd:enumeration value="EF"/>
        <xsd:enumeration value="SIG"/>
        <xsd:enumeration value="AF"/>
        <xsd:enumeration value="BE"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="classId">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="31" />
    </xsd:restriction>
</xsd:simpleType>

<!-- TODO: be more precise that bitrates, depending on parameter, see TODO in common.xsd -->
<xsd:simpleType name="bitRate">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="65535" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="crType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="RBDC" />
        <xsd:enumeration value="VBDC"/>
        <xsd:enumeration value="NONE"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:element name="fifos">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="fifo" minOccurs="1" maxOccurs="32"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<xsd:element name="fifo">
    <xsd:complexType>
        <xsd:attribute name="priority" type="classId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                The ID and the scheduler priority of the class related to the FIFO
		</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type" type="className">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The name of the FIFO
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="size_max" type="xsd:integer">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The size of the FIFO
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="pvc" type="xsd:integer">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The Permanent Virtual Channel, it must be in increasing order
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cr_type" type="crType">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The type of capacity request
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>


<!-- Complete XML description -->
<xsd:element name="configuration">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="global" />
            <xsd:element ref="dvb_rcs_tal" />
            <xsd:element ref="physical_layer" />
            <xsd:element ref="qos_agent" />
            <xsd:element ref="debug" />
        </xsd:sequence>
        <xsd:attribute name="component" type="componentType" />
    </xsd:complexType>
</xsd:element>

<!-- global section description -->
<xsd:element name="global">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The global configuration for all components
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="lan_adaptation_schemes">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The lan adaptation schemes
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- dvb_rcs_tal section description -->
<xsd:element name="dvb_rcs_tal">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The dvb layer configuration for terminal
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="dama_algorithm" type="damaAlgorithm">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The DAMA algorithm for Agent
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="obr_period" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The OBR period (frame number):
                         period used to determine when we should send a request
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="carrier_id_dvb_ctrl" type="carrierId">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The sending carrier id for DVB control
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="carrier_id_logon" type="carrierId">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The sending carrier id for login information
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="carrier_id_data" type="carrierId">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The sending carrier id for ATM cells, MPEG or GSE packets
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="rbdc_timeout" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The RBDC Timeout (frame number)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="msl_duration" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The Minimum Scheduling Latency (frame number):
                        time between the capacity request emission and the
                        reception of the corresponding Terminal Burst Time Plan
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cr_rule_output_fifo_only" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        RBDC and VBDC Capacity requests computation rules
                         - "false" = both INPUT + OUTPUT DLB fifos size are
                                     taken into account
                         - "true"  = only OUTPUT DLB fifos size are taken into
                                     account
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dvb_mac_id" type="talId">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The Dvb Mac identifier = the terminal id (integer)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="rt_fixed_bandwidth" type="bitRate">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The static bandwidth allocated to ST (kbits/s) = the
                        bandwidth for real time traffic
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="fifos">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The MAC fifos
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="max_rbdc" type="bitRate">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The maximum RBDC value for the terminal (kbits/s)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="max_vbdc" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The maximum VBDC value for the terminal (kbits)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- qos_agent section description -->
<xsd:element name="qos_agent">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The QoS data parameters
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="st_address" type="ipv4Address">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The ST address in the OpenSAND network
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="qos_server_port" type="port">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The QoS server port
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- debug section description -->
<xsd:element name="debug">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The debug parameters
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="default" type="debugValue" />
            <xsd:element name="qos_data" type="debugValue" />
            <xsd:element name="physical_layer" type="debugValue" />
            <xsd:element name="dama_da" type="debugValue" />
            <xsd:element name="dvb_rcs" type="debugValue" />
            <xsd:element name="dvb_rcs_tal" type="debugValue" />
            <xsd:element name="qos_control" type="debugValue" />
            <xsd:element name="sat_carrier" type="debugValue" />
            <xsd:element name="encap" type="debugValue" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

</xsd:schema>
