opensand-core/conf/xsd/core_global.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!-- TODO integer => nonNegativeInteger -->

<!-- component type -->
<xsd:simpleType name="componentType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="all" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types that can be useful for many section -->
<xsd:simpleType name="talId">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="31" /> <!-- 0x1f -->
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="path">
    <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="file">
    <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<!-- types for global section -->
<xsd:simpleType name="msTimeFrame">
    <xsd:restriction base="xsd:decimal">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="106" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="msTime">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="2000" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="msTimeNZ">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="1" />
        <xsd:maxInclusive value="2000" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="satelliteType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="transparent" />
        <xsd:enumeration value="regenerative" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="returnLinkStandardType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="DVB-RCS" />
        <xsd:enumeration value="DVB-RCS2" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="encapScheme">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="AAL5/ATM" />
        <xsd:enumeration value="MPEG2-TS" />
        <xsd:enumeration value="ULE" />
        <xsd:enumeration value="GSE" />
        <xsd:enumeration value="RLE" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="posScheme">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="4" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for band sections -->
<xsd:simpleType name="Category">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Standard" />
        <xsd:enumeration value="Premium" />
        <xsd:enumeration value="Pro" />
        <xsd:enumeration value="SVNO1" />
        <xsd:enumeration value="SVNO2" />
        <xsd:enumeration value="SVNO3" />
        <xsd:enumeration value="SNO" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="upAccessType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="DAMA" />
        <xsd:enumeration value="ALOHA" />
        <xsd:enumeration value="SCPC" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="downAccessType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="ACM" />
        <xsd:enumeration value="VCM" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="symbolRate">
    <!-- double for scientific notation support -->
    <xsd:restriction base="xsd:double">
        <xsd:minInclusive value="0" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="fmtId">
    <xsd:restriction base="xsd:string">
        <xsd:pattern value="(([1-9]|1[0-9]|2[0-8])(\-|;)){0,27}([1-9]|1[0-9]|2[0-8])" />
    </xsd:restriction>
</xsd:simpleType>

<!-- the FMT groups table -->
<xsd:element name="fmt_groups">
    <xsd:complexType>
        <xsd:choice>
            <xsd:element ref="group" minOccurs="1" maxOccurs="255" />
        </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:element name="group">
    <xsd:complexType>
        <xsd:attribute name="id" type="xsd:nonNegativeInteger">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The ID of the FMT group, specified in carriers
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="fmt_id" type="fmtId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The ID of the FMT in the MODCOD definition file.
                    You can add a list of single values separated by ';' or
                    a list of values contained in two values separated by '-'.
                    (e.g. 1-4;7 for 1,2,3,4,7)
                    For DVB-RCS, only one value is authorized !
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- the uplink carriers distributions tables -->
<xsd:complexType name="upCarriersDistribution">
    <xsd:choice>
        <xsd:element ref="up_carriers"  minOccurs="1" maxOccurs="255" />
    </xsd:choice>
</xsd:complexType>

<xsd:element name="up_carriers">
    <xsd:complexType>
        <xsd:attribute name="access_type" type="upAccessType">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The type of multiplexing (DAMA, ALOHA, SCPC)
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="category" type="Category">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The category to which the carrier belong
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ratio" type="xsd:positiveInteger">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The occupation ratio of bandwidth dedicated for this type of
                    carriers within the (forward or return) frequency plan
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="symbol_rate" type="symbolRate">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The symbol rate (in bauds) allowing to compute the number of
                    carriers of this type, in combination with ratio
                    <unit>bauds</unit>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="fmt_group" type="xsd:positiveInteger">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The MODCOD group ID representing the possible set of
                    MODCOD(s) for this carrier
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- the downlink carriers distributions tables -->
<xsd:complexType name="downCarriersDistribution">
    <xsd:choice>
        <xsd:element ref="down_carriers" minOccurs="1" maxOccurs="255" />
    </xsd:choice>
</xsd:complexType>

<xsd:element name="down_carriers">
    <xsd:complexType>
        <xsd:attribute name="access_type" type="downAccessType">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The type of multiplexing (ACM, VCM)
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="category" type="Category">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The category to which the carrier belong
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ratio" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The occupation ratio of bandwidth dedicated for this type of
                    carriers within the (forward or return) frequency plan
                    For VCM, the temporal division is described with several
                    values separated by ',' or ';' or '-'
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="symbol_rate" type="symbolRate">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The symbol rate (in bauds) allowing to compute the number of
                    carriers of this type, in combination with ratio
                    <unit>bauds</unit>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="fmt_group" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The MODCOD group ID" representing the possible set of
                    MODCOD(s) for this carrier
                    For VCM, the temporal division is described with several
                    values separated by ',' or ';' or a '-'
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- the tal affectations table -->
<xsd:element name="tal_affectations">
    <xsd:complexType>
        <xsd:choice>
            <xsd:element ref="tal_affectation" minOccurs="1" maxOccurs="255" />
        </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:element name="tal_affectation">
    <xsd:complexType>
        <xsd:attribute name="tal_id" type="talId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The terminal ID
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="category" type="Category">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The category to which the terminal belongs
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- the encap schemes tables -->
<xsd:element name="return_up_encap_schemes">
    <xsd:complexType>
        <xsd:choice>
            <xsd:element ref="encap_scheme" minOccurs="1" maxOccurs="5" />
        </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:element name="forward_down_encap_schemes">
    <xsd:complexType>
        <xsd:choice>
            <xsd:element ref="encap_scheme" minOccurs="1" maxOccurs="5" />
        </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:element name="encap_scheme">
    <xsd:complexType>
        <xsd:attribute name="pos" type="posScheme">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The encapsulation scheme position from upper to lower
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="encap" type="encapScheme">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The type of encapsulation
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- the delays table -->
<xsd:simpleType name="delayType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="ConstantDelay" />
        <xsd:enumeration value="FileDelay" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="targetId">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="255" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:element name="global_delay">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            Global delay for all terminals and gateways
            <not_list>true</not_list>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="delay" type="msTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Value of the propagation delay from one spot/GW to the satellite (ms)
                        <unit>ms</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<xsd:element name="satdelays">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="satdelay" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<xsd:element name="satdelay">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The configuration for one spot/GW
            <conf>true</conf>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="satdelay_conf">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The delay type advanced configuration parameters
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="targetId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The terminal ID associated to this delay
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type" type="delayType">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The type of delay associated to the terminal
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<xsd:element name="satdelay_conf">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            Configuration for satellite delay plugin
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:choice>
            <xsd:sequence>
                <xsd:element name="delay" type="msTime">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            Value of the propagation delay from one spot/GW to the satellite (ms)
                            <unit>ms</unit>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:sequence>
                <xsd:element name="path" type="file">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            The satellite delay file path in file format
                            <default>plugins/satdelay.csv</default>
                            <source>plugins/satdelay.csv</source>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="loop_mode" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            Whether we return on the file beginning at the end
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:choice>
    </xsd:complexType>
</xsd:element>

<!-- Complete XML description -->
<xsd:element name="configuration">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="common" />
            <xsd:element ref="forward_down_band" />
            <xsd:element ref="return_up_band" />
            <xsd:element ref="slotted_aloha" />
            <xsd:element ref="physical_layer" />
            <xsd:element ref="delays" />
            <xsd:element ref="advanced" />
        </xsd:sequence>
        <xsd:attribute name="component" type="componentType" />
    </xsd:complexType>
</xsd:element>

<!-- global section description -->
<xsd:element name="common">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>\tThe global configuration for all components</b>
            ]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="satellite_type" type="satelliteType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The satellite payload type
                        <hide>true</hide>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="global_constant_delay" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Use a global constant delay for all terminals/gateways 
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="return_link_standard" type="returnLinkStandardType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The return link standard type
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="rcs2_burst_length" type="xsd:positiveInteger">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The constant burst length for DVB-RCS2
                        <hide>true</hide>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
             <xsd:element name="forward_down_carrier_duration" type="msTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The forward/down link DVB frame duration (in ms)
                        <unit>ms</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="return_up_carrier_duration" type="msTimeFrame">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The return/up link DVB frame duration (in ms)
                        <unit>ms</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="forward_down_encap_schemes">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The forward/down link encapsulation scheme
                        <hide>true</hide>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="return_up_encap_schemes">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The return/up link encapsulation scheme
                        <hide>true</hide>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="statistics_timer" type="msTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The timer used for statistics (in ms)
                        <unit>ms</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sync_period" type="msTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The SYNC period (ms):
                        period used to determine when we should send a request
                        and to compute RBDC timeout
                        <unit>ms</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- uplink band section description -->
<xsd:element name="return_up_band">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>\tReturn/Up link bandwidth configuration</b>
            ]]>
            <hide>true</hide>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="roll_off" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The roll-off factor
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>           
            <xsd:element name="spot" minOccurs="1" maxOccurs="32">
                 <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="bandwidth" type="xsd:decimal">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    Bandwidth (MHz)
                                    <unit>Mhz</unit>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="carriers_distribution" type="upCarriersDistribution">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    The distribution of carriers on the band
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element ref="tal_affectations">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    The terminal affectation in categories
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="tal_default_affectation" type="Category">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    The default terminal affectation in categories
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element ref="fmt_groups">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    The groups of FMT IDs
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="id"/>
                    <xsd:attribute name="gw" type="talId"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- downlink band section description -->
<xsd:element name="forward_down_band">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>\tForward/Down link bandwidth configuration</b>
            ]]>
            <hide>true</hide>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="roll_off" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The roll-off factor
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>           
            <xsd:element name="spot" minOccurs="1" maxOccurs="32">
                 <xsd:complexType>
                    <xsd:sequence>
                         <xsd:element name="bandwidth" type="xsd:decimal">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    Bandwidth (MHz)
                                    <unit>Mhz</unit>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="carriers_distribution" type="downCarriersDistribution">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    The distribution of carriers on the band
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element ref="tal_affectations">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    The terminal affectation in categories
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="tal_default_affectation" type="Category">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    The default terminal affectation in categories
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element ref="fmt_groups">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    The groups of FMT IDs
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="id"/>
                    <xsd:attribute name="gw" type="talId"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- saloha section description -->
<xsd:element name="slotted_aloha">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>\tThe Slotted Aloha common parameters</b>
            ]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="superframes_per_slotted_aloha_frame" type="xsd:positiveInteger">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The number of DVB superframe per Slotted Aloha frame 
                        <unit>DVB superframes</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- physical_layer section description -->
<xsd:element name="physical_layer">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>\tThe physical layer description:</b>\n
            if the physical layer block is enabled, see the
            <a href="http://opensand.org/support/wiki/doku.php?id=design:physical_layer">Physical Layer design</a> for more information, else ACM simulation files are used\n
            acm_refresh_period is used in both cases\n
            ]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="enable" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Enable the physical layer
                        <hide>true</hide>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="generate_time_series_path" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The path where the emulated MODCOD are stored in time series files
                         when physical layer is enabled, in order to replay the scenario or
                         none to disable it. The filename will be
                         forward_down_time_series_spotId_gwId.txt
                         and return_up_time_series_spotId_gwId.txt.
                         The files are generated on the gateway when the satellite is on 
                         transparent mode and on satellite when the it is regenerative.
                        <xpath physical_layer.enable="true" />
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="acm_period_refresh" type="msTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Physical layer refresh period (ms)
                        <unit>ms</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="forward_down_acm_loop_margin" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The forward/down link ACM loop margin (in dB)
                        This margin is applied on NCC
                        Using this without physical layer will prevent from
                        getting the highest efficient MODCOD as CNI are computed
                        from the MODCOD values then the ACM loop margin is applied
                        <unit>dB</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="return_up_acm_loop_margin" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The return/up link ACM loop margin (in dB)
                        This margin is applied on NCC
                        Using this without physical layer will prevent from
                        getting the highest efficient MODCOD as CNI are computed
                        from the MODCOD values then the ACM loop margin is applied
                        <unit>dB</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="modcod_def_s2" type="file">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The MODCOD definition file for S2 forward/down link
                        and SCPC
                        <default>modcod/s2/definition.txt</default>
                        <source>modcod/s2/modcod.txt</source>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="modcod_def_rcs" type="file">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The MODCOD definition file for RCS return/up link
                        <default>modcod/rcs/definition_MPEG.txt</default>
                        <source>modcod/rcs/modcod.txt</source>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="modcod_def_rcs2" type="file">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The MODCOD definition file for RCS2 return/up link
                        <default>modcod/rcs2/definition_RLE.txt</default>
                        <source>modcod/rcs2/modcod.txt</source>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="spot" minOccurs="1" maxOccurs="32">
                 <xsd:complexType>
                    <xsd:sequence>
                <xsd:element name="forward_down_modcod_time_series" type="file">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            The MODCOD simulation time series for forward/down link
                            <default>modcod/s2/clear_sky.txt</default>
                            <source>modcod/forward_down_time_series.txt</source>
                            <xpath physical_layer.enable="false" />
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="return_up_modcod_time_series" type="file">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            The MODCOD simulation time series for return/up link
                            <default>modcod/rcs/clear_sky.txt</default>
                            <source>modcod/return_up_time_series.txt</source>
                            <xpath physical_layer.enable="false" />
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="loop_on_file" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            Loop on MODCOD simulation time series files for return/up link
                            <xpath physical_layer.enable="false" />
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id"/>
            <xsd:attribute name="gw" type="talId"/>
        </xsd:complexType>
        </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- delays section description -->
<xsd:element name="delays">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>\tSatellite delay configuration</b>
            ]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="global_delay">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The global satellite delay configurations
                        <xpath common.global_constant_delay="true" />
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="satdelays">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The satellite delay configuration for each spot and GW
                        <xpath common.global_constant_delay="false" />
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="refresh_period" type="msTimeNZ">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Satellite delay refresh period (ms)
                        <unit>ms</unit>
                        <adv>true</adv>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- advanced section description -->
<xsd:element name="advanced">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>\tSome parameters that may influence performances
            (for advanced users only, do not edit these parameters !)</b>
            ]]>
            <adv>true</adv>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="delay_buffer" type="xsd:positiveInteger">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The size of the FIFO used to apply delay
                        <unit>packets</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="delay_timer" type="msTimeNZ">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The interval for the timer checking the delay FIFO
                        <unit>ms</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="udp_rmem" type="xsd:unsignedLong">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The size of the UDP reception buffer in kernel
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="udp_wmem" type="xsd:unsignedLong">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The size of the UDP emission buffer in kernel
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="udp_stack" type="xsd:nonNegativeInteger">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The size of the UDP stack in satellite carrier
                        (max 255 but keep it small)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

</xsd:schema>
