opensand-core/conf/xsd/core_gw.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:include schemaLocation="./common.xsd"/> 

<!-- component type -->
<xsd:simpleType name="componentType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="gw" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for global section -->
<xsd:simpleType name="LanProto">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="IP" />
        <xsd:enumeration value="Ethernet" />
        <xsd:enumeration value="ROHC" />
        <xsd:enumeration value="PHS" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="PosScheme">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="4" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="damaAlgorithm">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Legacy" />
    </xsd:restriction>
</xsd:simpleType>

<!-- the lan adaptation schemes tables -->
<xsd:element name="lan_adaptation_schemes">
    <xsd:complexType>
        <xsd:choice>
            <xsd:element ref="lan_scheme" minOccurs="1" maxOccurs="5" />
        </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:element name="lan_scheme">
    <xsd:complexType>
        <xsd:attribute name="pos" type="PosScheme">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The lan adaptation scheme position from upper to lower
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="proto" type="LanProto">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The type of lan adapation
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- types for dvb_rcs_ncc section -->
<!-- simulation type -->
<xsd:simpleType name="simuType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="none" />
        <xsd:enumeration value="file" />
        <xsd:enumeration value="random" />
    </xsd:restriction>
</xsd:simpleType>

<!-- simulation random type -->
<xsd:simpleType name="simuRandom">
    <xsd:restriction base="xsd:string">
        <!-- int>100:int:int:int -->
        <xsd:pattern value="([0-9]*:){5}[0-9]*" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for slotted_aloha section -->
<xsd:simpleType name="sa_method">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="DSA" /> <!-- Diversity Slotted Aloha -->
        <xsd:enumeration value="CRDSA" /> <!-- Contention Resolution Diversity Slotted Aloha -->
    </xsd:restriction>
</xsd:simpleType>

<!-- types for pep section -->
<xsd:simpleType name="msTime">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="2000" />
    </xsd:restriction>
</xsd:simpleType>

<!-- Complete XML description -->
<xsd:element name="configuration">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="global" />
            <xsd:element ref="dvb_rcs_ncc" />
            <xsd:element ref="slotted_aloha" />
            <xsd:element ref="pep" />
            <xsd:element ref="uplink_physical_layer" />
            <xsd:element ref="downlink_physical_layer" />
            <xsd:element ref="debug" />
        </xsd:sequence>
        <xsd:attribute name="component" type="componentType" />
    </xsd:complexType>
</xsd:element>

<!-- global section description -->
<xsd:element name="global">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The global configuration for all components
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="lan_adaptation_schemes">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The lan adaptation schemes
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- dvb_rcs_ncc section description -->
<xsd:element name="dvb_rcs_ncc">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The dvb layer configuration for NCC
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="dama_algorithm" type="damaAlgorithm">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The DAMA algorithm for controller
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fca" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The Free capacity assignement (kbits/s)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="rbdc_timeout" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The RBDC Timeout (frame number)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cra_decrease" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        indicates if rt_fixed_bandwidth has to be removed from
                        the RBDC value  of the capacity requests
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="simulation" type="simuType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Activate simulation requests
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="simu_file" type="file">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        If simulation = file: use a file name or stdin
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="simu_random" type="simuRandom">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        If simulation = random:
                        nb_station (numbered > 31):RT bandwidth(Kb/s):max RBDC(kb/s):max VBDC(kb)mean requests(Kb/s):amplitude request(Kb/s)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="event_file" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Do we generate an event history ? (same format as
                        simu_file, can be used for replaying a case study)
                        Possible values are a file name, stdout, stderr or none
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="carrier_id_dvb_ctrl" type="carrierId">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The sending carrier id for DVB control
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="carrier_id_data" type="carrierId">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The sending carrier id for DVB data frames
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="carrier_id_sof" type="carrierId">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The sending carrier id for DVB Start of Frame
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="max_fifo" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The maximal size of the BBFrame FIFO
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- saloha section description -->
<xsd:element name="slotted_aloha">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="method" type="sa_method">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The method used to schedule packets
                    </xsd:documentation>
                </xsd:annotation>
			</xsd:element>
			<xsd:element name="simulation_traffic" type="xsd:nonNegativeInteger">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Add simulated traffic (in %)
                    </xsd:documentation>
                </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<!-- pep section description -->
<xsd:element name="pep">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The PEP (Policy Enforcement Point) parameters
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="pep_to_dama_port" type="port">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        communication port on DAMA for PEP messages
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="pep_alloc_delay" type="msTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Delay to apply anticipation RBDC allocations from
                        PEP/ARC (ms)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- debug section description -->
<xsd:element name="debug">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The debug parameters
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="init" type="debugValue" />
            <xsd:element name="lan_adaptation" type="debugValue" />
            <xsd:element name="encap" type="debugValue" />
            <xsd:element name="dvb" type="debugValue" />
            <xsd:element name="physical_layer" type="debugValue" />
            <xsd:element name="sat_carrier" type="debugValue" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

</xsd:schema>

