opensand-core/conf/xsd/core_gw.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:include schemaLocation="./common.xsd"/> 

<!-- component type -->
<xsd:simpleType name="componentType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="gw" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for global section -->
<xsd:simpleType name="LanProto">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="IP" />
        <xsd:enumeration value="Ethernet" />
        <xsd:enumeration value="ROHC" />
        <xsd:enumeration value="PHS" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="PosScheme">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="4" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="damaAlgorithm">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Legacy" />
    </xsd:restriction>
</xsd:simpleType>

<!-- the lan adaptation schemes tables -->
<xsd:element name="lan_adaptation_schemes">
    <xsd:complexType>
        <xsd:choice>
            <xsd:element ref="lan_scheme" minOccurs="1" maxOccurs="5" />
        </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:element name="lan_scheme">
    <xsd:complexType>
        <xsd:attribute name="pos" type="PosScheme">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The lan adaptation scheme position from upper to lower
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="proto" type="LanProto">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The type of lan adapation
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- types for dvb_rcs_ncc section -->
<!-- simulation type -->
<xsd:simpleType name="simuType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="none" />
        <xsd:enumeration value="file" />
        <xsd:enumeration value="random" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="accessType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="ACM" />
        <xsd:enumeration value="VCM0"/>
        <xsd:enumeration value="VCM1"/>
        <xsd:enumeration value="VCM2"/>
        <xsd:enumeration value="VCM3"/>
    </xsd:restriction>
</xsd:simpleType>

<!-- simulation random type -->
<xsd:simpleType name="simuRandom">
    <xsd:restriction base="xsd:string">
        <!-- int>100:int:int:int -->
        <xsd:pattern value="([0-9]*:){5}[0-9]*" />
    </xsd:restriction>
</xsd:simpleType>

<!-- fifo types -->
<xsd:element name="layer2_fifos">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="fifo" minOccurs="1" maxOccurs="32"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<xsd:element name="fifo">
    <xsd:complexType>
        <xsd:attribute name="priority" type="classId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The ID and the scheduler priority of the class related to the FIFO
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="className">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The name of the FIFO
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="size_max" type="xsd:integer">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The size of the FIFO (in packets)
                    <unit>packets</unit>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="access_type" type="accessType">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The type of access
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>


<!-- types for slotted_aloha section -->
<xsd:simpleType name="sa_algo">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="DSA" /> <!-- Diversity Slotted Aloha -->
        <xsd:enumeration value="CRDSA" /> <!-- Contention Resolution Diversity Slotted Aloha -->
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="Ratio">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="100" /> <!-- 0x1f -->
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="Category">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Standard" />
        <xsd:enumeration value="Premium" />
        <xsd:enumeration value="Pro" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for delay section -->
<xsd:simpleType name="msTimeNZ">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="1" />
        <xsd:maxInclusive value="2000" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="delayType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="ConstantDelay" />
        <xsd:enumeration value="FileDelay" />
    </xsd:restriction>
</xsd:simpleType>

<!-- the traffic simulation table -->
<xsd:element name="simulation_traffic">
    <xsd:complexType>
        <xsd:choice>
            <xsd:element ref="simu" minOccurs="0" maxOccurs="unbounded" />
        </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:element name="simu">
    <xsd:complexType>
        <xsd:attribute name="category" type="Category">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The name of the category to which the traffic applies
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="nb_max_packets" type="xsd:nonNegativeInteger">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The maximum number of packets per Slotted Aloha frame
                    per simulated terminal (0 to disable this line)
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="nb_replicas" type="xsd:positiveInteger">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The number of replicas per Slotted Aloha frame
                    (including the original packet)
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ratio" type="Ratio">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The amount of traffic to simulate on the category
                    (in %)
                    <unit>%</unit>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>


<!-- types for qos_pep section -->
<xsd:simpleType name="msTime">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="2000" />
    </xsd:restriction>
</xsd:simpleType>

<!-- Complete XML description -->
<xsd:element name="configuration">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="global" />
            <xsd:element ref="dvb_rcs_ncc" />
            <xsd:element ref="slotted_aloha" />
            <xsd:element ref="qos_pep" />
            <xsd:element ref="svno_interface" />
            <xsd:element ref="uplink_physical_layer" />
            <xsd:element ref="downlink_physical_layer" />
            <xsd:element ref="delay" />
            <xsd:element ref="debug" />
        </xsd:sequence>
        <xsd:attribute name="component" type="componentType" />
    </xsd:complexType>
</xsd:element>

<!-- global section description -->
<xsd:element name="global">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>\tSome global parameters</b>
            ]]>
            <hide>true</hide>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="lan_adaptation_schemes">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The lan adaptation schemes
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- dvb_rcs_ncc section description -->
<xsd:element name="dvb_rcs_ncc">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>\tThe dvb layer configuration for NCC</b>\n
            For Layer 2 FIFO configuration:\n
              - check the Lan Adaptation plugins configuration below in order to get correct QoS mapping\n
              - access type has to be correlated with the band configuration one\n
            ]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="dama_algorithm" type="damaAlgorithm">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The DAMA algorithm for controller
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fca" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The Free capacity assignement (kbits/s)
                        <unit>kbits/s</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="spot" minOccurs="1" maxOccurs="32">
                <xsd:complexType> 
                    <xsd:sequence>
                        <xsd:element name="simulation" type="simuType">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    Activate simulation requests
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="simu_file" type="file">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    If simulation = file: use a file name or stdin
                                    <default>request_simu/dama.input</default>
                                    <source>dama.input</source>
                                    <xpath spot.simulation="file"/>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="simu_random" type="simuRandom">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    If simulation = random:
                                    nb_station (numbered > 31):RT bandwidth(Kb/s):max RBDC(kb/s):max VBDC(kb)mean requests(Kb/s):amplitude request(Kb/s)
                                    <xpath spot.simulation="random"/>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="event_file" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    Do we generate an event history ? (same format as
                                    simu_file, can be used for replaying a case study)
                                    Possible values are a file name, stdout, stderr or none
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element ref="layer2_fifos">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    The MAC fifos
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="id"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- saloha section description -->
<xsd:element name="slotted_aloha">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>\tThe Slotted Aloha GW parameters</b>
            ]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="spot" minOccurs="1" maxOccurs="32">
                <xsd:complexType> 
                    <xsd:sequence>
                        <xsd:element name="algorithm" type="sa_algo">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    The algorithm used to handle collisions on slots
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element ref="simulation_traffic">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    Add Slotted Aloha simulated traffic in categories
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="id"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- qos_pep section description -->
<xsd:element name="qos_pep">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>\tThe QoS PEP (Policy Enforcement Point) parameters</b>
            ]]>
            <hide>true</hide>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="pep_to_dama_port" type="port">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Communication port on DAMA for QoS PEP messages
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="pep_alloc_delay" type="msTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Delay to apply anticipation RBDC allocations from
                        QoS PEP/ARC (ms)
                        <unit>ms</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- svno_interface section description -->
<xsd:element name="svno_interface">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>\tThe parameters for the SVNO interface</b>
            ]]>
            <hide>true</hide>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="svno_to_ncc_port" type="port">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Communication port on NCC for SVNO messages
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- delay section description -->
<xsd:element name="delay">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>\tSatellite delay configuration</b>
            ]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="delay_type" type="delayType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The type of delay associated to the terminal
                        <xpath common.global_constant_delay="false" />
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="refresh_period" type="msTimeNZ">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Satellite delay refresh period (ms)
                        <unit>ms</unit>
                        <adv>true</adv>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>


<!-- debug section description -->
<xsd:element name="debug">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>\tThe debug parameters</b>\n
            For levels table, you can choose any available logs or part of log name.\n
            After a first simulation, autocompletion will be availabble for level names.
            ]]>
            <hide>true</hide>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="init" type="debugValue" />
            <xsd:element name="lan_adaptation" type="debugValue" />
            <xsd:element name="encap" type="debugValue" />
            <xsd:element name="dvb" type="debugValue" />
            <xsd:element name="physical_layer" type="debugValue" />
            <xsd:element name="sat_carrier" type="debugValue" />
            <xsd:element ref="levels">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The user log levels
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

</xsd:schema>

