opensand-core/conf/xsd/core_global.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!-- TODO integer => nonNegativeInteger -->

<!-- component type -->
<xsd:simpleType name="componentType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="all" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types that can be useful for many section -->
<xsd:simpleType name="talId">
    <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="31" /> <!-- 0x1f -->
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="file">
    <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<!-- types for global section -->
<xsd:simpleType name="msTimeFrame">
    <xsd:restriction base="xsd:double">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="106" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="msTime">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="2000" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="satelliteType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="transparent" />
        <xsd:enumeration value="regenerative" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="encapScheme">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="AAL5/ATM" />
        <xsd:enumeration value="MPEG2-TS" />
        <xsd:enumeration value="ULE" />
        <xsd:enumeration value="GSE" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="posScheme">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="4" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for band sections -->
<xsd:simpleType name="Category">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Standard" />
        <xsd:enumeration value="Premium" />
        <xsd:enumeration value="Pro" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="upAccessType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="DAMA" />
        <xsd:enumeration value="ALOHA" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="downAccessType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="ACM" />
        <xsd:enumeration value="VCM" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="symbolRate">
    <xsd:restriction base="xsd:double">
        <xsd:minInclusive value="0" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="fmtId">
    <xsd:restriction base="xsd:string">
        <xsd:pattern value="(([1-9]|1[0-9]|2[0-8])(\-|;)){0,27}([1-9]|1[0-9]|2[0-8])" />
    </xsd:restriction>
</xsd:simpleType>

<!-- the FMT groups table -->
<xsd:element name="fmt_groups">
    <xsd:complexType>
        <xsd:choice>
            <xsd:element ref="group" minOccurs="1" maxOccurs="255" />
        </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:element name="group">
    <xsd:complexType>
        <xsd:attribute name="id" type="xsd:nonNegativeInteger">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The ID of the FMT group, specified in carriers
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="fmt_id" type="fmtId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The ID of the FMT in the MODCOD definition file.
                    You can add a list of single values separated by ';' or
                    a list of values contained in two values separated by '-'.
                    (e.g. 1-4;7 for 1,2,3,4,7)
                    For DVB-RCS, only one value is authorized !
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- the uplink carriers distributions tables -->
<xsd:complexType name="upCarriersDistribution">
    <xsd:choice>
        <xsd:element ref="up_carriers"  minOccurs="1" maxOccurs="255" />
    </xsd:choice>
</xsd:complexType>

<xsd:element name="up_carriers">
    <xsd:complexType>
        <xsd:attribute name="access_type" type="upAccessType">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The type of multiplexing (DAMA, ALOHA)
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="category" type="Category">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The category to which the carrier belong
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ratio" type="xsd:positiveInteger">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The occupation ratio of bandwidth dedicated for this type of
                    carriers within the (forward or return) frequency plan
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="symbol_rate" type="symbolRate">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The symbol rate (in bauds) allowing to compute the number of
                    carriers of this type, in combination with ratio
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="fmt_group" type="xsd:positiveInteger">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The MODCOD group ID" representing the possible set of
                    MODCOD(s) for this carrier
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- the downlink carriers distributions tables -->
<xsd:complexType name="downCarriersDistribution">
    <xsd:choice>
        <xsd:element ref="down_carriers" minOccurs="1" maxOccurs="255" />
    </xsd:choice>
</xsd:complexType>

<xsd:element name="down_carriers">
    <xsd:complexType>
        <xsd:attribute name="access_type" type="downAccessType">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The type of multiplexing (ACMM, VCM)
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="category" type="Category">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The category to which the carrier belong
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ratio" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The occupation ratio of bandwidth dedicated for this type of
                    carriers within the (forward or return) frequency plan
                    For VCM, the temporal division is described with several
                    values separated by ',' or ';' or '-'
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="symbol_rate" type="symbolRate">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The symbol rate (in bauds) allowing to compute the number of
                    carriers of this type, in combination with ratio
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="fmt_group" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The MODCOD group ID" representing the possible set of
                    MODCOD(s) for this carrier
                    For VCM, the temporal division is described with several
                    values separated by ',' or ';' or a '-'
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- the tal affectations table -->
<xsd:element name="tal_affectations">
    <xsd:complexType>
        <xsd:choice>
            <xsd:element ref="tal_affectation" minOccurs="1" maxOccurs="255" />
        </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:element name="tal_affectation">
    <xsd:complexType>
        <xsd:attribute name="tal_id" type="talId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The terminal ID
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="category" type="Category">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The category to which the terminal belongs
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- the encap schemes tables -->
<xsd:element name="up_return_encap_schemes">
    <xsd:complexType>
        <xsd:choice>
            <xsd:element ref="encap_scheme" minOccurs="1" maxOccurs="5" />
        </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:element name="down_forward_encap_schemes">
    <xsd:complexType>
        <xsd:choice>
            <xsd:element ref="encap_scheme" minOccurs="1" maxOccurs="5" />
        </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:element name="encap_scheme">
    <xsd:complexType>
        <xsd:attribute name="pos" type="posScheme">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The encapsulation scheme position from upper to lower
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="encap" type="encapScheme">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The type of encapsulation
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- types for mac_layer section -->

<!---->

<!-- type for simulation column section -->
<xsd:simpleType name="columnNbr">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="1532" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for sat_carrier section -->
<xsd:simpleType name="socketType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="SOCK_DGRAM"/>
    </xsd:restriction>
</xsd:simpleType>

<!-- the columns for simulation_column section -->
<xsd:element name="columns">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="column" minOccurs="1" maxOccurs="6" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<xsd:element name="column">
    <xsd:complexType>
        <xsd:attribute name="tal_id" type="talId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The ID of the terminal
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="column_nbr" type="columnNbr">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The number of the column for the specified terminal
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- Complete XML description -->
<xsd:element name="configuration">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="global" />
            <xsd:element ref="up_return_band" />
            <xsd:element ref="down_forward_band" />
            <xsd:element ref="mac_layer" />
            <xsd:element ref="slotted_aloha" />
            <xsd:element ref="simulation_column" />
            <xsd:element ref="physical_layer" />
            <xsd:element ref="sat_carrier" />
            <xsd:element ref="perf" />
        </xsd:sequence>
        <xsd:attribute name="component" type="componentType" />
    </xsd:complexType>
</xsd:element>

<!-- global section description -->
<xsd:element name="global">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>The global configuration for all components</b>
            ]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="satellite_type" type="satelliteType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The satellite payload type
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="delay" type="msTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The delay to simulate (in ms)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="down_forward_modcod_def" type="file">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The MODCOD definition file for down/forward link
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="down_forward_modcod_simu" type="file">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The MODCOD simulation file for down/forward link
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="up_return_modcod_def" type="file">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The MODCOD definition file for up/return link
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="up_return_modcod_simu" type="file">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The MODCOD simulation file for up/return link
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dvb_scenario_refresh" type="msTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        How often do we refresh the adaptive physical layer scenario (ms)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="frame_duration" type="msTimeFrame">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The DVB frame duration (in ms)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="up_return_encap_schemes">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The up/return link encapsulation scheme
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="down_forward_encap_schemes">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The down/forward link encapsulation scheme
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- uplink band section description -->
<xsd:element name="up_return_band">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>Return/Up link bandwidth configuration</b>
            ]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
             <xsd:element name="bandwidth" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Bandwidth (MHz)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="roll_off" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The roll-off factor
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>           
            <xsd:element name="carriers_distribution" type="upCarriersDistribution">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The distribution of carriers on the band
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="tal_affectations">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The terminal affectation in categories
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tal_default_affectation" type="Category">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The default terminal affectation in categories
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="fmt_groups">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The groups of FMT IDs
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- downlink band section description -->
<xsd:element name="down_forward_band">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>Forward/Down link bandwidth configuration</b>
            ]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
             <xsd:element name="bandwidth" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Bandwidth (MHz)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="roll_off" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The roll-off factor
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>           
            <xsd:element name="carriers_distribution" type="downCarriersDistribution">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The distribution of carriers on the band
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="tal_affectations">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The terminal affectation in categories
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tal_default_affectation" type="Category">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The default terminal affectation in categories
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="fmt_groups">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The groups of FMT IDs
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- mac_layer section description -->
<xsd:element name="mac_layer">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>The MAC layer configuration elements for all components</b>
            ]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="frames_per_superframe" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The number of frames per superframe 
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- saloha section description -->
<xsd:element name="slotted_aloha">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>The Slotted Aloha common parameters</b>
            ]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="superframes_per_saframe" type="xsd:positiveInteger">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The number of DVB superframe per Slotted Aloha frame 
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- simulation_column section description -->
<xsd:element name="simulation_column">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>The number of the column corresponding to each terminal in the DRA
            and MODCOD simulation files</b>
            ]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="columns">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Associate a terminal ID and a column in the FMT
                        simulation file
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- physical_layer section description -->
<xsd:element name="physical_layer">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>The physical layer description:</b>\n
            <a href="http://opensand.org/support/wiki/doku.php?id=design:physical_layer">Physical Layer design</a>
            ]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="enable" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Enable the physical layer
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="granularity" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The channel refreshing (ms)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- sat_carrier section description -->
<xsd:element name="sat_carrier">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>The satellite carriers description</b>
            ]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="socket_type" type="socketType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The type of the socket
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- perf section description -->
<xsd:element name="perf">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>Some parameters that may influence performances
            (for advanced users only, do not edit these parameters !)</b>
            ]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="udp_rmem" type="xsd:unsignedLong">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The size of the UDP reception buffer in kernel
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="udp_wmem" type="xsd:unsignedLong">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The size of the UDP emission buffer in kernel
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="udp_stack" type="xsd:nonNegativeInteger">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The size of the UDP stack in satellite carrier
                        (max 255 but keep it small)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="forward_timer" type="msTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The timer used for forward link emission and for
                        satellite fifo handling (in ms)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="statistics_timer" type="msTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The timer used for statistics (in ms)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

</xsd:schema>
