opensand-core/conf/xsd/core_global.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<!-- component type -->
<xsd:simpleType name="componentType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="all" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types that can be useful for many section -->
<xsd:simpleType name="talId">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="31" /> <!-- 0x1f -->
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="file">
    <xsd:restriction base="xsd:string" />
</xsd:simpleType>


<!-- types for global section -->
<xsd:simpleType name="msTime">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="2000" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="satelliteType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="transparent" />
        <xsd:enumeration value="regenerative" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IpOptionName">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="ROHC" />
        <xsd:enumeration value="NONE" />
    </xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="EncapScheme">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="ATM/AAL5" />
        <xsd:enumeration value="MPEG2-TS" />
        <xsd:enumeration value="ULE" />
        <xsd:enumeration value="GSE" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="PosScheme">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="4" />
    </xsd:restriction>
</xsd:simpleType>

<!-- the encap schemes tables -->
<xsd:element name="ip_options">
    <xsd:complexType>
        <xsd:choice>
            <xsd:element ref="option" minOccurs="1" maxOccurs="5" />
        </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:element name="up_return_encap_schemes">
    <xsd:complexType>
        <xsd:choice>
            <xsd:element ref="scheme" minOccurs="1" maxOccurs="5" />
        </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:element name="down_forward_encap_schemes">
    <xsd:complexType>
        <xsd:choice>
            <xsd:element ref="scheme" minOccurs="1" maxOccurs="5" />
        </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:element name="option">
    <xsd:complexType>
        <xsd:attribute name="name" type="IpOptionName">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The name of the IP "option"
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>


<xsd:element name="scheme">
    <xsd:complexType>
        <xsd:attribute name="pos" type="PosScheme">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The encapsulation scheme position from lower to upper
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="encap" type="EncapScheme">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The type of encapsulation
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>


<!-- types for mac_layer section -->
<xsd:simpleType name="bitRate">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="50000" />
    </xsd:restriction>
</xsd:simpleType>

<!-- type for simulation column section -->
<xsd:simpleType name="columnNbr">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="1532" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for sat_carrier section -->
<xsd:simpleType name="socketType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="SOCK_DGRAM"/>
    </xsd:restriction>
</xsd:simpleType>

<!-- the columns for simulation_column section -->
<xsd:element name="columns">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="column" minOccurs="1" maxOccurs="6" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<xsd:element name="column">
    <xsd:complexType>
        <xsd:attribute name="tal_id" type="talId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The ID of the terminal
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="column_nbr" type="columnNbr">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The number of the column for the specified terminal
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>


<!-- type for dvb_rcs section -->
<xsd:simpleType name="damaAlgorithm">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Legacy" />
        <xsd:enumeration value="UoR" />
        <xsd:enumeration value="Stub" />
        <xsd:enumeration value="Yes" />
    </xsd:restriction>
</xsd:simpleType>

<!-- Complete XML description -->
<xsd:element name="configuration">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="global" />
            <xsd:element ref="mac_layer" />
            <xsd:element ref="simulation_column" />
            <xsd:element ref="dvb_rcs" />
            <xsd:element ref="sat_carrier" />
        </xsd:sequence>
        <xsd:attribute name="component" type="componentType" />
    </xsd:complexType>
</xsd:element>

<!-- global section description -->
<xsd:element name="global">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The global configuration for all components
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="satellite_type" type="satelliteType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The satellite payload type
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="delay" type="msTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The delay to simulate (ms)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="modcod_definition_file" type="file">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The MODCOD definition file
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="modcod_simulation_file" type="file">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The MODCOD simulation file
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dra_definition_file" type="file">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The DRA definition file
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dra_simulation_file" type="file">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The DRA simulation file
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dvb_scenario_refresh" type="msTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        How often do we refresh the adaptive physical layer scenario (ms)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="frame_duration" type="msTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The DVB frame duration
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bandwidth" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Bandwidth (MHz)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ip_options">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        A list of IP "options"
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="up_return_encap_schemes">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The up/return link encapsulation scheme
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="down_forward_encap_schemes">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The down/forward link encapsulation scheme
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- mac_layer section description -->
<xsd:element name="mac_layer">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The MAC layer configuration elements for all components
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="frames_per_superframe" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The number of frames per superframe 
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="carrier_transmission_rate" type="bitRate">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The carrier transmission rate (Kbit/s)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="carrier_number" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The number of carriers
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- simulation_column section description -->
<xsd:element name="simulation_column">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The number of the column corresponding to each terminal in the DRA
            and MODCOD simulation files
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="columns" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- dvb_rcs section description -->
<xsd:element name="dvb_rcs">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The dvb layer configuration for all components
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="dama_algorithm" type="damaAlgorithm">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The DAMA algorithm
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- sat_carrier section description -->
<xsd:element name="sat_carrier">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The satellite carriers description
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="socket_type" type="socketType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The type of the socket
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

</xsd:schema>
