opensand-core/conf/xsd/core_gw.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<!-- component type -->
<xsd:simpleType name="componentType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="gw" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types that can be useful for many section -->
<xsd:simpleType name="carrierId">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="1" />
        <xsd:maxInclusive value="7" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ipv4Address">
    <xsd:restriction base="xsd:string">
        <xsd:pattern value="((25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="port">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="1500" />
        <xsd:maxInclusive value="65535" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for dvb_rcs_ncc section -->
<xsd:simpleType name="bitRate">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="50000" />
    </xsd:restriction>
</xsd:simpleType>

<!-- simulation type -->
<xsd:simpleType name="simuType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="none" />
        <xsd:enumeration value="file" />
        <xsd:enumeration value="random" />
    </xsd:restriction>
</xsd:simpleType>

<!-- simulation random type -->
<xsd:simpleType name="simuRandom">
    <xsd:restriction base="xsd:string">
        <!-- int>100:int:int:int -->
        <xsd:pattern value="([0-9]*:){3}[0-9]*" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="socketType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="SOCK_DGRAM"/>
    </xsd:restriction>
</xsd:simpleType>

<!-- types for pep section -->
<xsd:simpleType name="msTime">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="2000" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for service_class section -->
<xsd:simpleType name="classId">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="31" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="className">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="NM" />
        <xsd:enumeration value="EF"/>
        <xsd:enumeration value="SIG"/>
        <xsd:enumeration value="AF"/>
        <xsd:enumeration value="BE"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="schedulerPrio">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="1" />
        <xsd:maxInclusive value="32" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="macQueueId">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="31" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:element name="classes">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="class" minOccurs="1" maxOccurs="32"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<xsd:element name="class">
    <xsd:complexType>
        <xsd:attribute name="id" type="classId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The ID for the service class
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="className">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The service class name
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="scheduler_priority" type="schedulerPrio">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The scheduler priority
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="mac_queue_id" type="macQueueId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The ID of the associated FIFO at MAC layer
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- types for traffic_category section -->
<xsd:simpleType name="categoryId">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="255" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="categoryName">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="NM" />
        <xsd:enumeration value="EF"/>
        <xsd:enumeration value="SIG"/>
        <xsd:enumeration value="AF_1"/>
        <xsd:enumeration value="AF_2"/>
        <xsd:enumeration value="AF_3"/>
        <xsd:enumeration value="BE"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:element name="categories">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="category" minOccurs="1" maxOccurs="32"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<xsd:element name="category">
    <xsd:complexType>
        <xsd:attribute name="id" type="categoryId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The traffic category identifier, default values observe the
                    RFC2474 (DiffServ)
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="categoryName">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The traffic category name
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="class" type="classId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The service class identifier related to the category
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- types for dvb_rcs_tal section -->
<!-- see class section for some types -->
<xsd:simpleType name="crType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="RBDC" />
        <xsd:enumeration value="VBDC"/>
        <xsd:enumeration value="NONE"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:element name="fifos">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="fifo" minOccurs="1" maxOccurs="32"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<xsd:element name="fifo">
    <xsd:complexType>
        <xsd:attribute name="id" type="classId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The ID og the class related to the FIFO
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type" type="className">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The name of the FIFO
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="size_max" type="xsd:integer">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The size of the FIFO
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="pvc" type="xsd:integer">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    TODO, PVC must be in increasing order
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cr_type" type="crType">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The type of capacity request
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- types for debug section -->
<xsd:simpleType name="debugValue">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="3" />
    </xsd:restriction>
</xsd:simpleType>

<!-- Complete XML description -->
<xsd:element name="configuration">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="dvb_rcs_ncc" />
            <xsd:element ref="pep" />
            <xsd:element ref="service_class" />
            <xsd:element ref="traffic_category" />
            <xsd:element ref="dvb_rcs_tal" />
            <xsd:element ref="debug" />
        </xsd:sequence>
        <xsd:attribute name="component" type="componentType" />
    </xsd:complexType>
</xsd:element>

<!-- dvb_rcs_ncc section description -->
<xsd:element name="dvb_rcs_ncc">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The dvb layer configuration for NCC
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="fca" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The Free capacity assignement (kbits/s)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="rbdc_timeout" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The RBDC Timeout (frame number)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="max_rbdc" type="bitRate">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The maximum RBDC value (kbits/s)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="min_vbdc" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The minimum VBDC value (cells or packets number)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cra_decrease" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        indicates if rt_fixed_bandwidth has to be removed from
                        the RBDC value  of the capacity requests
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="simulation" type="simuType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Activate simulation requests
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="simu_file" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        If simulation = file: use a file name or stdin
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="simu_random" type="simuRandom">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        If simulation = random:
                        nb_station (numbered > 100):RT bandwidth(Kb/s):mean_requests (Kb/s):amplitude_request (Kb/s)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stat_file" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Do we generate a stat history ? (same format as
                        simu_file, can be used for replaying a case study)
                        Possible values are a file name, stdout, stderr or none
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="event_file" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Do we generate an event history ? (same format as
                        simu_file, can be used for replaying a case study)
                        Possible values are a file name, stdout, stderr or none
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="carrier_id_dvb_ctrl" type="carrierId">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The sending carrier id for DVB control
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="carrier_id_data" type="carrierId">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The sending carrier id for ATM cells, MPEG or GSE packets
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="carrier_id_sof" type="carrierId">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The sending carrier id for DVB Start of Frame
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="max_fifo" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The maximal size of the BBFrame FIFO
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- pep section description -->
<xsd:element name="pep">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The PEP (Policy Enforcement Point) parameters
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="pep_to_dama_port" type="port">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        communication port on DAMA for PEP messages
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="pep_alloc_delay" type="msTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Delay to apply anticipation RBDC allocations from
                        PEP/ARC (ms)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- service_class section description -->
<xsd:element name="service_class">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The service classes for QoS relation between IP and MAC layers
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="classes" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- traffic_category section description -->
<xsd:element name="traffic_category">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The traffic categories for QoS at IP layer
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="default_category" type="categoryId">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The default traffic category
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="categories" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- dvb_rcs_tal section description -->
<xsd:element name="dvb_rcs_tal">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="fifos" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- debug section description -->
<xsd:element name="debug">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The debug parameters
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="default" type="debugValue" />
            <xsd:element name="qos_data" type="debugValue" />
            <xsd:element name="dama_dc" type="debugValue" />
            <xsd:element name="dvb_rcs" type="debugValue" />
            <xsd:element name="dvb_rcs_ncc" type="debugValue" />
            <xsd:element name="sat_carrier" type="debugValue" />
            <xsd:element name="encap" type="debugValue" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

</xsd:schema>
