opensand-core/conf/xsd/core_st.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:include schemaLocation="./common.xsd"/> 

<!-- component type -->
<xsd:simpleType name="componentType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="st" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for global section -->
<xsd:simpleType name="LanProto">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="IP" />
        <xsd:enumeration value="Ethernet" />
        <xsd:enumeration value="ROHC" />
        <xsd:enumeration value="PHS" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="PosScheme">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="4" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="damaAgentAlgorithm">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Legacy" />
        <xsd:enumeration value="RrmQos" />
    </xsd:restriction>
</xsd:simpleType>

<!-- the lan adaptation schemes tables -->
<xsd:element name="lan_adaptation_schemes">
    <xsd:complexType>
        <xsd:choice>
            <xsd:element ref="lan_scheme" minOccurs="1" maxOccurs="5" />
        </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:element name="lan_scheme">
    <xsd:complexType>
        <xsd:attribute name="pos" type="PosScheme">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The lan adaptation scheme position from upper to lower
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="proto" type="LanProto">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The type of lan adapation
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- types for dvb_rcs_tal section -->
<!-- see class section for some types -->

<!-- TODO: be more precise that bitrates, depending on parameter, see TODO in common.xsd -->
<xsd:simpleType name="bitRate">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="65535" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="returnAccessType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="DAMA_RBDC" />
        <xsd:enumeration value="DAMA_VBDC"/>
        <xsd:enumeration value="DAMA_CRA"/>
        <xsd:enumeration value="SALOHA" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:element name="layer2_fifos">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="fifo" minOccurs="1" maxOccurs="32"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- TODO try to put that in common and onlly define access_type here and in gw -->
<xsd:element name="fifo">
    <xsd:complexType>
        <xsd:attribute name="priority" type="classId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                The ID and the scheduler priority of the class related to the FIFO
        </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="className">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The name of the FIFO
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="size_max" type="xsd:integer">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The size of the FIFO (in packets)
                    <unit>packets</unit>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="access_type" type="returnAccessType">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The type of access
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- types for slotted_aloha section -->
<xsd:simpleType name="sa_backoff">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="BEB" /> <!-- Binary Exponential Backoff -->
        <xsd:enumeration value="EIED" /> <!-- Exponential Incr. Exponential Decr. -->
        <xsd:enumeration value="MIMD" /> <!-- Multiplicative Incr. Multiplicative Decr. -->
    </xsd:restriction>
</xsd:simpleType>

<!-- Complete XML description -->
<xsd:element name="configuration">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="global" />
            <xsd:element ref="dvb_rcs_tal" />
            <xsd:element ref="slotted_aloha" />
            <xsd:element ref="uplink_physical_layer" />
            <xsd:element ref="downlink_physical_layer" />
            <xsd:element ref="qos_agent" />
            <xsd:element ref="debug" />
        </xsd:sequence>
        <xsd:attribute name="component" type="componentType" />
    </xsd:complexType>
</xsd:element>

<!-- global section description -->
<xsd:element name="global">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>\tSome global parameters</b>
            ]]>
            <hide>true</hide>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="lan_adaptation_schemes">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The lan adaptation schemes
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- dvb_rcs_tal section description -->
<xsd:element name="dvb_rcs_tal">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>\tThe dvb layer configuration for terminal</b>\n
            For Layer 2 FIFO configuration:\n
              - check the Lan Adaptation plugins configuration below in order to get correct QoS mapping\n
              - access type has to be correlated with the band configuration one\n
            ]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="constant_rate_allocation" type="bitRate">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The constant rate allocation for the return link (kbits/s)
                        <unit>kbits/s</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="max_rbdc" type="bitRate">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The maximum RBDC value for the terminal (kbits/s)
                        <unit>kbits/s</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="max_vbdc" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The maximum VBDC value for the terminal (kbits)
                        <unit>kbits</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dama_agent_algorithm" type="damaAgentAlgorithm">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The DAMA algorithm for Agent
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="msl_duration" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The Minimum Scheduling Latency (frame number):
                        time between the capacity request emission and the
                        reception of the corresponding Terminal Burst Time Plan
                        <unit>frames</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cr_rule_output_fifo_only" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        RBDC and VBDC Capacity requests computation rules
                         \n\t- "false" = both INPUT + OUTPUT DLB fifos size are
                                         taken into account
                         \n\t- "true"  = only OUTPUT DLB fifos size are taken into
                                         account
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="layer2_fifos">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The MAC fifos
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- saloha section description -->
<xsd:element name="slotted_aloha">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>\tThe Slotted Aloha ST parameters</b>
            ]]>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="timeout" type="xsd:nonNegativeInteger">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The timeout before packet deleting or retransmission
                        (in number of Slotted Aloha frames)
                        <unit>Slotted Aloha frames</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nb_replicas" type="xsd:positiveInteger">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The number of replicas per Slotted Aloha frame
                        (including the original packet)
                        <unit>packets</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nb_max_packets" type="xsd:positiveInteger">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The maximum number of packets per Slotted Aloha frame
                        <unit>packets</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nb_max_retransmissions" type="xsd:nonNegativeInteger">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The number of retransmissions of a packet before deleting it
                        <unit>packets</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="backoff_algorithm" type="sa_backoff">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The backoff algorithm used
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cw_max" type="xsd:positiveInteger">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The value of CWmax for backoff
                        <unit>Slotted Aloha frames</unit>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="backoff_multiple" type="xsd:positiveInteger">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The value of multiple for backoff
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- qos_agent section description -->
<xsd:element name="qos_agent">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>\tThe QoS data parameters</b
            ]]>>
            <hide>true</hide>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="st_address" type="ipv4Address">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The ST address in the OpenSAND network
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="qos_server_port" type="port">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The QoS server port
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- debug section description -->
<xsd:element name="debug">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <![CDATA[
            <b>\tThe debug parameters</b>
            ]]>
            <hide>true</hide>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="init" type="debugValue" />
            <xsd:element name="lan_adaptation" type="debugValue" />
            <xsd:element name="encap" type="debugValue" />
            <xsd:element name="dvb" type="debugValue" />
            <xsd:element name="physical_layer" type="debugValue" />
            <xsd:element name="sat_carrier" type="debugValue" />
            <xsd:element ref="levels">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The user log levels
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

</xsd:schema>
