opensand-core/conf/xsd/topology.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<!-- component type -->
<xsd:simpleType name="componentType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="topology" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for sarp section -->
<xsd:simpleType name="ipv4Address">
    <xsd:restriction base="xsd:string">
        <xsd:pattern value="((25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ipv4NetMask">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="32" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="talId">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="31" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ipv6Address">
    <xsd:restriction base="xsd:string">
        <xsd:pattern value="([0-9a-fA-F]{0,4}:){0,7}[0-9a-fA-F]{0,4}|
                            (([0-9a-fA-F]+:){7}[0-9a-fA-F]+)|(([0-9a-fA-F]+:)*[0-9a-fA-F]+)?::(([0-9a-fA-F]+:)*[0-9a-fA-F]+)?|
                            ([0-9a-fA-F]{0,4}:){0,6}((25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9]).){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])|
                            (([0-9a-fA-F]+:){6}|(([0-9a-fA-F]+:)*[0-9a-fA-F]+)?::([0-9a-fA-F]+:)*)((25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9]).){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ipv6NetMask">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="64" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="macAddress">
    <xsd:restriction base="xsd:string">
        <xsd:pattern value="(([0-9a-fA-F*][0-9a-fA-F*]:){5}([0-9a-fA-F*][0-9a-fA-F*]))" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for sat_carrier section -->
<xsd:simpleType name="carrierId">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="port">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="1500" />
        <xsd:maxInclusive value="65535" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="disabledCompo">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="none" />
        <xsd:enumeration value="st" />
        <xsd:enumeration value="gw" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="spotId">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="255" />
    </xsd:restriction>
</xsd:simpleType>

<!-- the terminals for sarp sections -->
<xsd:element name="ipv4">
    <xsd:complexType>
        <xsd:choice>
            <xsd:element ref="terminal_v4" minOccurs="0" maxOccurs="255" />
        </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:element name="ipv6">
    <xsd:complexType>
        <xsd:choice>
            <xsd:element ref="terminal_v6" minOccurs="0" maxOccurs="255" />
        </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:element name="terminal_v4">
    <xsd:complexType>
        <xsd:attribute name="addr" type="ipv4Address">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The terminal IPv4 address
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="mask" type="ipv4NetMask">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The terminal IPv4 mask
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="tal_id" type="talId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The ID of the terminal
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<xsd:element name="terminal_v6">
    <xsd:complexType>
        <xsd:attribute name="addr" type="ipv6Address">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The terminal IPv6 address
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="mask" type="ipv6NetMask">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The terminal IPv6 mask
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="tal_id" type="talId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The ID of the terminal
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<xsd:element name="ethernet">
    <xsd:complexType>
        <xsd:choice>
            <xsd:element ref="terminal_eth" minOccurs="0" maxOccurs="255" />
        </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:element name="terminal_eth">
    <xsd:complexType>
        <xsd:attribute name="mac" type="macAddress">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The terminal (or WS) MAC address
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="tal_id" type="talId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The ID of the terminal
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- the carrier for sat_carrier section -->
<xsd:element name="spot">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="carriers">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="carrier" minOccurs="8" maxOccurs="8"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id"/>
    </xsd:complexType>
</xsd:element>

<xsd:element name="carrier">
    <xsd:complexType>
        <xsd:attribute name="id" type="carrierId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The carrier unique identifier
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The carrier type
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ip_address" type="ipv4Address">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    depending on the case the IP address contains:
                      \n\t- input unicast:   the parameter is not used
                      \n\t- input multicast: the multicast IP address
                      \n\t- output:          the remote IP address
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="port" type="port">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The port of the UDP socket
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ip_multicast" type="xsd:boolean">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    Indicates whether the carrier is used by the component to
                    manage multicast flow
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- Complete XML description -->
<xsd:element name="configuration">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="sarp" />
            <xsd:element ref="sat_carrier" />
            <xsd:element ref="spot_table" />
        </xsd:sequence>
        <xsd:attribute name="component" type="componentType" />
    </xsd:complexType>
</xsd:element>

<!-- sarp section description -->
<xsd:element name="sarp">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The SARP tables for satellite terminals
            Associate address and terminal ID
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="default" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The default terminal ID if no one is found, -1 for none
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ipv4">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The IPv4 SARP table
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ipv6">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The IPv6 SARP table
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ethernet">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The Ethernet SARP table
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- sat_carrier section description -->
<xsd:element name="sat_carrier">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The satellite spot carriers description
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="spot" minOccurs="1" maxOccurs="32">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The spot carriers description for emulation purpose
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- spot_table section description -->
<xsd:element name="spot_table">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The satellite switching table
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="spot" minOccurs="1" maxOccurs="32">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The spot list of terminal id
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="tal_id" minOccurs="1" maxOccurs="30"/>
                    </xsd:sequence>
                    <xsd:attribute name="id"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="default_spot" type="spotId">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The default spot if terminal is not found in switches
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>


</xsd:schema>
