platine-core/conf/xsd/core_global.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<!-- component type -->
<xsd:simpleType name="componentType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="all" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types that can be useful for many section -->
<xsd:simpleType name="talId">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="6" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="spotId">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="255" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for global section -->
<xsd:simpleType name="ethInterface">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="eth0" />
        <xsd:enumeration value="eth1" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="msTime">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="2000" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="satelliteType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="transparent" />
        <xsd:enumeration value="regenerative" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="dvbScenario">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="collective" />
        <xsd:enumeration value="individual" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="upReturnEncapScheme">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="ATM_AAL5" />
        <xsd:enumeration value="MPEG_ULE" />
        <xsd:enumeration value="GSE" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="downForwardEncapScheme">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="ATM_AAL5" />
        <xsd:enumeration value="MPEG_ULE" />
        <xsd:enumeration value="GSE" />
        <xsd:enumeration value="MPEG_ATM_AAL5" />
        <xsd:enumeration value="GSE_ATM_AAL5" />
        <xsd:enumeration value="GSE_MPEG_ULE" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for mac_layer section -->
<xsd:simpleType name="bitRate">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="50000" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for ip_dedicated_v4 section -->
<xsd:simpleType name="ipv4Address">
    <xsd:restriction base="xsd:string">
        <xsd:pattern value="((25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ipv4NetMask">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="32" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for ip_dedicated_v6 section -->
<xsd:simpleType name="ipv6Address">
    <xsd:restriction base="xsd:string">
        <xsd:pattern value="([0-9a-fA-F]{0,4}:){0,7}[0-9a-fA-F]{0,4}|
                            (([0-9a-fA-F]+:){7}[0-9a-fA-F]+)|(([0-9a-fA-F]+:)*[0-9a-fA-F]+)?::(([0-9a-fA-F]+:)*[0-9a-fA-F]+)?|
                            ([0-9a-fA-F]{0,4}:){0,6}((25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9]).){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])|
                            (([0-9a-fA-F]+:){6}|(([0-9a-fA-F]+:)*[0-9a-fA-F]+)?::([0-9a-fA-F]+:)*)((25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9]).){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ipv6NetMask">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="64" />
    </xsd:restriction>
</xsd:simpleType>

<!-- the terminals for ip_dedicated sections -->
<xsd:element name="terminals">
    <xsd:complexType>
        <xsd:choice>
            <xsd:element ref="terminal_v4" minOccurs="1" maxOccurs="6" />
            <xsd:element ref="terminal_v6" minOccurs="1" maxOccurs="6" />
        </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:element name="terminal_v4">
    <xsd:complexType>
        <xsd:attribute name="addr" type="ipv4Address">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The terminal IPv4 address
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="mask" type="ipv4NetMask">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The terminal IPv4 mask
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="tal_id" type="talId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The ID of the terminal
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="spot_id" type="spotId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The ID of the spot corresponding to this terminal
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<xsd:element name="terminal_v6">
    <xsd:complexType>
        <xsd:attribute name="addr" type="ipv6Address">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The terminal IPv6 address
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="mask" type="ipv6NetMask">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The terminal IPv6 mask
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="tal_id" type="talId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The ID of the terminal
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="spot_id" type="spotId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The ID of the spot corresponding to this terminal
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<!-- type for simulation column section -->
<xsd:simpleType name="columnNbr">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="1532" />
    </xsd:restriction>
</xsd:simpleType>

<!-- the columns for simulation_column section -->
<xsd:element name="columns">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="column" minOccurs="1" maxOccurs="6" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<xsd:element name="column">
    <xsd:complexType>
        <xsd:attribute name="tal_id" type="talId">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The ID of the terminal
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="column_nbr" type="columnNbr">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The number of the column for the specified terminal
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>


<!-- type for dvb_rcs section -->
<xsd:simpleType name="damaAlgorithm">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Legacy" />
        <xsd:enumeration value="UoR" />
        <xsd:enumeration value="Stub" />
        <xsd:enumeration value="Yes" />
    </xsd:restriction>
</xsd:simpleType>

<!-- Complete XML description -->
<xsd:element name="configuration">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="global" />
            <xsd:element ref="mac_layer" />
            <xsd:element ref="ip_dedicated_v4" />
            <xsd:element ref="ip_dedicated_v6" />
            <xsd:element ref="simulation_column" />
            <xsd:element ref="dvb_rcs" />
        </xsd:sequence>
        <xsd:attribute name="component" type="componentType" />
    </xsd:complexType>
</xsd:element>

<!-- global section description -->
<xsd:element name="global">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The global configuration for all components
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="satellite_eth_interface" type="ethInterface">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The physical interface for the satellite network
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="packing_threshold" type="msTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Packing threshold for MPEG2-TS and GSE encapsulation scheme (ms)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="satellite_type" type="satelliteType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The satellite payload type
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="delay" type="msTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The delay to simulate (ms)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dvb_scenario" type="dvbScenario">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The DVB scenario type for adaptative physical layer simulation
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dvb_scenario_refresh" type="msTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        How often do we refresh the adaptive physical layer scenario (ms)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="frame_duration" type="msTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The DVB frame duration
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bandwidth" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Bandwidth (MHz)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="up_return_encap_scheme" type="upReturnEncapScheme">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The up/return link encapsulation scheme
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="down_forward_encap_scheme" type="downForwardEncapScheme">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The down/forward link encapsulation scheme
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- mac_layer section description -->
<xsd:element name="mac_layer">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The MAC layer configuration elements for all components
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="frames_per_superframe" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The number of frames per superframe 
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="carrier_transmission_rate" type="bitRate">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The carrier transmission rate (Kbit/s)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="carrier_number" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The number of carriers
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- ip_dedicated_v4 section description -->
<xsd:element name="ip_dedicated_v4">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The IP description of terminals and their spot for IPv4 addresses
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="terminals" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- ip_dedicated_v6 section description -->
<xsd:element name="ip_dedicated_v6">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The IP description of terminals and their spot for IPv4 addresses
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="terminals" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- simulation_column section description -->
<xsd:element name="simulation_column">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The number of the column corresponding to each terminal in the DRA
            and MODCOD simulation files
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="columns" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- dvb_rcs section description -->
<xsd:element name="dvb_rcs">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            The dvb layer configuration for all components
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="dama_algorithm" type="damaAlgorithm">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The DAMA algorithm
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

</xsd:schema>
