platine-core/conf/xsd/core_gw.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<!-- component type -->
<xsd:simpleType name="componentType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="gw" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types that can be useful for many section -->
<xsd:simpleType name="carrierId">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="1" />
        <xsd:maxInclusive value="7" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ipv4Address">
    <xsd:restriction base="xsd:string">
        <xsd:pattern value="((25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="port">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="1500" />
        <xsd:maxInclusive value="65535" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for global section -->
<xsd:simpleType name="outputEncapScheme">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="ATM_AAL5" />
        <xsd:enumeration value="MPEG_ULE" />
        <xsd:enumeration value="GSE" />
        <xsd:enumeration value="GSE_ATM_AAL5" />
        <xsd:enumeration value="GSE_MPEG_ULE" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="intputEncapScheme">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="ATM_AAL5" />
        <xsd:enumeration value="MPEG_ULE" />
        <xsd:enumeration value="GSE" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for dvb_rcs_ncc section -->
<xsd:simpleType name="bitRate">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="50000" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for sat_carrier section -->
<!--<xsd:simpleType name="carrierIp">
    <xsd:restriction base="xsd:string">
        <xsd:pattern ref="ipv4Address" />
        <xsd:enumeration value="LOCAL" />
    </xsd:restriction>
</xsd:simpleType>-->

<xsd:simpleType name="socketType">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="SOCK_DGRAM"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="carriers">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element ref="carrier" minOccurs="1" maxOccurs="7"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:element name="carrier">
	<xsd:complexType>
		<xsd:attribute name="id" type="carrierId" />
        <!-- TODO ipv4Adderss -->
		<xsd:attribute name="ip_address" type="xsd:string" />
		<xsd:attribute name="port" type="port" />
		<xsd:attribute name="in" type="xsd:boolean" />
		<xsd:attribute name="out" type="xsd:boolean" />
		<xsd:attribute name="ip_multicast" type="xsd:boolean" />
	</xsd:complexType>
</xsd:element>

<!-- types for pep section -->
<xsd:simpleType name="msTime">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0" />
        <xsd:maxInclusive value="2000" />
    </xsd:restriction>
</xsd:simpleType>

<!-- types for service_class section -->
<xsd:simpleType name="schedulerType">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="HTB" />
		<xsd:enumeration value="HDLB" />
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="classId">
	<xsd:restriction base="xsd:integer">
		<xsd:minInclusive value="0" />
		<xsd:maxInclusive value="4" />
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="className">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="NM" />
		<xsd:enumeration value="EF"/>
		<xsd:enumeration value="SIG"/>
		<xsd:enumeration value="AF"/>
		<xsd:enumeration value="BE"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="schedulerPrio">
	<xsd:restriction base="xsd:integer">
		<xsd:minInclusive value="1" />
		<xsd:maxInclusive value="5" />
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="macQueueId">
	<xsd:restriction base="xsd:integer">
		<xsd:minInclusive value="0" />
		<xsd:maxInclusive value="4" />
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="classes">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element ref="class" minOccurs="1" maxOccurs="5"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:element name="class">
	<xsd:complexType>
		<xsd:attribute name="id" type="classId" />
		<xsd:attribute name="name" type="className" />
		<xsd:attribute name="scheduler_priority" type="schedulerPrio" />
		<xsd:attribute name="mac_queue_id" type="macQueueId" />
	</xsd:complexType>
</xsd:element>

<!-- types for traffic_category section -->
<xsd:simpleType name="categoryId">
	<xsd:restriction base="xsd:integer">
		<xsd:minInclusive value="1" />
		<xsd:maxInclusive value="7" />
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="categoryName">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="NM" />
		<xsd:enumeration value="EF"/>
		<xsd:enumeration value="SIG"/>
		<xsd:enumeration value="AF_1"/>
		<xsd:enumeration value="AF_2"/>
		<xsd:enumeration value="AF_3"/>
		<xsd:enumeration value="BE"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="categories">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element ref="category" minOccurs="1" maxOccurs="7"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:element name="category">
	<xsd:complexType>
		<xsd:attribute name="id" type="categoryId" />
		<xsd:attribute name="name" type="categoryName" />
		<xsd:attribute name="class" type="classId" />
	</xsd:complexType>
</xsd:element>

<!-- types for dvb_rcs_tal section -->
<!-- see class section for some types -->
<xsd:simpleType name="crType">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="RBDC" />
		<xsd:enumeration value="VBDC"/>
		<xsd:enumeration value="NONE"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="fifos">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element ref="fifo" minOccurs="1" maxOccurs="5"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:element name="fifo">
	<xsd:complexType>
		<xsd:attribute name="id" type="classId" />
		<xsd:attribute name="type" type="className" />
		<xsd:attribute name="size_max" type="xsd:integer" />
		<xsd:attribute name="pvc" type="xsd:integer" />
		<xsd:attribute name="cr_type" type="crType" />
	</xsd:complexType>
</xsd:element>

<!-- types for debug section -->
<xsd:simpleType name="debugValue">
	<xsd:restriction base="xsd:integer">
		<xsd:minInclusive value="0" />
		<xsd:maxInclusive value="3" />
	</xsd:restriction>
</xsd:simpleType>

<!-- Complete XML description -->
<xsd:element name="configuration">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="global" />
            <xsd:element ref="dvb_rcs_ncc" />
            <xsd:element ref="sat_carrier" />
            <xsd:element ref="pep" />
            <xsd:element ref="service_class" />
            <xsd:element ref="traffic_category" />
            <xsd:element ref="dvb_rcs_tal" />
            <xsd:element ref="debug" />
        </xsd:sequence>
        <xsd:attribute name="component" type="componentType" />
    </xsd:complexType>
</xsd:element>

<!-- global section description -->
<xsd:element name="global">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="output_encap_scheme" type="outputEncapScheme" />
            <xsd:element name="input_encap_scheme" type="intputEncapScheme" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- dvb_rcs_ncc section description -->
<xsd:element name="dvb_rcs_ncc">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="output_st_encap_scheme" type="outputEncapScheme" />
            <xsd:element name="fca" type="xsd:integer" />
            <xsd:element name="rbdc_timeout" type="xsd:integer" />
            <xsd:element name="max_rbdc" type="bitRate" />
            <xsd:element name="min_vbdc" type="xsd:integer" />
            <xsd:element name="cra_decrease" type="xsd:boolean" />
            <xsd:element name="simulation" type="xsd:string" />
            <xsd:element name="simu_file" type="xsd:string" />
            <xsd:element name="simu_random" type="xsd:string" />
            <xsd:element name="stat_file" type="xsd:string" />
            <xsd:element name="event_file" type="xsd:string" />
            <xsd:element name="carrier_id_dvb_ctrl" type="carrierId" />
            <xsd:element name="carrier_id_data" type="carrierId" />
            <xsd:element name="carrier_id_sof" type="carrierId" />
            <xsd:element name="max_fifo" type="xsd:integer" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- sat_carrier section description -->
<xsd:element name="sat_carrier">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="carriers" />
            <xsd:element name="socket_type" type="socketType" />
            <xsd:element name="addr" type="ipv4Address" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- pep section description -->
<xsd:element name="pep">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="pep_to_dama_port" type="port" />
            <xsd:element name="pep_alloc_delay" type="msTime" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- service_class section description -->
<xsd:element name="service_class">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="scheduler_type" type="schedulerType" />
            <xsd:element ref="classes" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- traffic_category section description -->
<xsd:element name="traffic_category">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="default_category" type="categoryId" />
            <xsd:element ref="categories" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- dvb_rcs_tal section description -->
<xsd:element name="dvb_rcs_tal">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="fifos" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<!-- debug section description -->
<xsd:element name="debug">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="default" type="debugValue" />
            <xsd:element name="qos_data" type="debugValue" />
            <xsd:element name="dama_da" type="debugValue" />
            <xsd:element name="dvb_rcs" type="debugValue" />
            <xsd:element name="dvb_rcs_ncc" type="debugValue" />
            <xsd:element name="sat_carrier" type="debugValue" />
            <xsd:element name="encap" type="debugValue" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

</xsd:schema>
